[Unit]
Description=Illiad Audiobook Server
After=network.target

[Service]
ExecStart=/usr/bin/illiad
KillMode=process
Restart=always

[Install]
WantedBy=multi-user.target
